elsarticle/elsarticle-harv.bst
elsarticle/elsarticle-num-names.bst
elsarticle/elsarticle-num.bst
elsarticle/elsarticle-template-harv.tex
elsarticle/elsarticle-template-num-names.tex
elsarticle/elsarticle-template-num.aux
elsarticle/elsarticle-template-num.fdb_latexmk
elsarticle/elsarticle-template-num.fls
elsarticle/elsarticle-template-num.log
elsarticle/elsarticle-template-num.pdf
elsarticle/elsarticle-template-num.spl
elsarticle/elsarticle-template-num.synctex.gz
elsarticle/elsarticle-template-num.tex
elsarticle/elsarticle.dtx
elsarticle/elsarticle.ins
elsarticle/manifest.txt
elsarticle/README
elsarticle/doc/1pseperateaug.pdf
elsarticle/doc/1psingleauthorgroup.pdf
elsarticle/doc/elsdoc.pdf
elsarticle/doc/elsdoc.tex
elsarticle/doc/elstest-1p.pdf
elsarticle/doc/elstest-1pdoubleblind.pdf
elsarticle/doc/elstest-3p.pdf
elsarticle/doc/elstest-3pd.pdf
elsarticle/doc/elstest-5p.pdf
elsarticle/doc/jfigs.pdf
elsarticle/doc/makefile
elsarticle/doc/pdfwidgets.sty
elsarticle/doc/rvdtx.sty
